name: Build C++
on:
  push:

jobs:
  build-windows-cuda:
    name: Build for Windows (x86_64, CUDA)
    runs-on: windows-2019
    steps:
      - name: Clone whisper.unity
        uses: actions/checkout@v3
        with:
          path: whisper-unity
          
      - name: Clone whisper.cpp
        uses: actions/checkout@v3
        with:
          repository: ggerganov/whisper.cpp
          ref: v1.6.0
          path: whisper-cpp
          
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1

      - id: setup_cuda_windows
        uses: Jimver/cuda-toolkit@v0.2.15
        with:
          cuda: '12.4.0'
          method: network
          sub-packages: '["nvcc", "cudart", "cublas", "cublas_dev", "thrust", "visual_studio_integration"]'
        
      - name: Run build script
        run: |
          cd whisper-unity
          .\build_cpp.bat cuda ..\whisper-cpp\
          cd ${{ github.workspace }}\whisper-cpp\build\bin\Release
          ren whisper.dll libwhisper_cuda.dll
          
      - id: copy_cuda_dlls
        name: Copy Cuda DLLs
        run: |
          cd whisper-cpp/build/bin/Release
          mv "${{ env.CUDA_PATH }}"/bin/cudart64_*.dll ./
          mv "${{ env.CUDA_PATH }}"/bin/cublas64_*.dll ./
          mv "${{ env.CUDA_PATH }}"/bin/cublasLt64_*.dll ./
        shell: bash

      - id: zip
        run: |
          cd whisper-cpp\build\bin\Release
          7z a ${{ github.workspace }}\cuda.zip *dll

      - name: Upload results
        uses: actions/upload-artifact@v3
        with:
          name: windows-cuda
          path: ${{ github.workspace }}\cuda.zip
          if-no-files-found: error
